@import url(./styles/index.css);

body {
    background-color: #F2F5F6;
}
header {
    display: flex;
    max-width: 1440px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 24px 20px;
}

.headerList {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-right: 20px;
    padding-bottom: 24px;
    padding-left: 20px;
    list-style: none;
    margin: 0px;
   
   
}

.headerList li a {
font-family: "Lato";
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #12141D;
text-decoration: none;
opacity: 0.7;
border-radius: 8px;
padding: 10px;
}

 
.headerList li a:hover {
  background-color: rgb(121, 151, 212);

  }




.headerLogo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 37px; 
}
.headerLogo span {
   color: #043A53;
   font-size: 40px;
}
.buttonContainer{
    display: flex;
    align-items: center;
    gap: 20px;
}
.ah_btn{ 
    border-radius: 42px;
    color:#FFFFFF;
    font-family: "Lato";
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    background-color: #043A53;
    width: 92px;
    height: 50px;
    gap: 10px;
    border-radius: 42px;
    cursor:pointer;
    border: none;



}
    .Login {
    background-color: #FFFFFF;
    gap: 10px;
    border-radius: 42px;
    color: #12141D;
    text-align: center;
    cursor: pointer;
    border: none;
    font-family: "Lato";
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

 }

 .ah_btn:hover{
   opacity: 0.9;
  


}
.buttonContainer
i{
    display: none;
    font-size: 40px;
}
 @media (max-width:940px) {
    .headerList{
        display: none;
    }
    .buttonContainer i{
        display: block;
    }
    
}
@media (max-width:444px) {

    .ah_btn{
        display: none;
    }
}
